<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">DevStore</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categorias
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Back-end</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">font-end</a></li>
        </ul>
      </div>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>